version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "02:00"
      timezone: "Asia/Tokyo"
    commit-message:
      prefix: "chore"
    groups:
      dependencies:
        patterns:
          - "*"
    # Since typescript-eslint does not yet fully support ESLint v10, we will ignore the major update for ESLint for now.
    ignore:
      - dependency-name: "eslint"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@eslint/js"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
